@charset "UTF-8";

@import './variables.scss';

.btn {
   width: auto;
   min-width: 130px;
   height: auto;
   padding: 10px 20px;
   border: none;
   border-radius: 8px;
   font-size: 0.85rem;
   font-family: $font-default;
   font-weight: 400;
   cursor: pointer;
   transition: all 0.4s;

   &:hover {
      transition: all 0.4s;
   }
}

.emphasis {
   color: $color-01;
   text-decoration: underline;
}

@mixin caption($max-width, $font-size, $text-align) {
   max-width: $max-width;
   font-size: $font-size;
   line-height: calc(#{$font-size} + 0.6rem);
   text-align: $text-align;
   font-weight: 600;

   span {
      @extend .emphasis;
   }
}
