@charset "UTF-8";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@400;500;600;700&display=swap');

// Variables
$color-01: #f2561d;
$color-02: #f2bc1b;
$color-03: #f2be5c;
$color-04: #4a5fd9;

$color-bg: #0f1215;

$color-text-default: white;
$color-text-dark: #0b0b0b;
$color-text-logo: #e7e7e7;

$font-default: 'Poppins', Arial, sans-serif;
$color-font-logo: 'Roboto Mono', monospace, sans-serif;
