@charset "UTF-8";

@import '../../../styles/variables.scss';
@import '../../../styles/styles.scss';

.S_Stats {
   width: 100%;
}

.stats_loveus {
   margin: 180px auto 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 300px;
   
   
   h2 {
      @include caption(380px, 2.4rem, left);
   }
   
   p {
      max-width: 250px;
      font-size: 0.95rem;
      color: #ffffff8d;
   }
   
   @media (max-width: 1020px) {
      & {
         margin: 150px auto 0 auto;
         flex-direction: column;
         gap: 30px;
         text-align: center;
         
         h2 {
            text-align: center;
         }
      }
   }
}

.stats_data {
   margin: 100px auto 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   row-gap: 80px;
   column-gap: 150px;
   
   .data {
      width: auto; min-width: 200px;
      text-align: center;
      
      .data-title {
         font-size: 2.5rem;
         font-weight: 600;
      }

      .data-description {
         font-size: 0.85rem;
         color: rgba(white, 0.4);
      }
   }
}