@charset "UTF-8";

@import '../../../styles/variables.scss';
@import '../../../styles/styles.scss';

.SPlan {
   margin: 180px auto 0 auto;
   padding: 0 40px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   // gap: 100px;

   > div {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;


      h2 {
         @include caption(360px, 2.6rem, left);
      }

      p {
         max-width: 500px;
         margin-top: 30px;
         color: rgba(white, 0.6);
         font-size: 0.95rem;
      }

      h3 {
         margin-top: 6px;
         font-size: 1.25rem;
         font-weight: 400;
         color: lighten($color-01, 5);
      }
   }

   aside {
      width: 50%;
      padding-left: 100px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
   }



   @media (max-width: 930px) {
      & {
         flex-direction: column;
         gap: 50px;

         > div {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .content {
               text-align: center;

               h2 {
                  margin: auto;
                  text-align: center;
               }
            }
         }

         aside {
            padding: 0;
            justify-content: center;
            align-items: center;
         }
      }
   }
}
